.DS_Store
Carthage/
WorldWide.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
WorldWide.xcodeproj/project.xcworkspace/xcuserdata/*
WorldWide.xcodeproj/project.xcworkspace/xcuserdata/*
WorldWide.xcodeproj/xcuserdata/hoangtronganh.xcuserdatad/xcschemes/xcschememanagement.plist
